/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.loading-spinner {
  animation: infinite-spinning 2s infinite;
  @apply fill-current text-gray-900 h-8 w-8 m-2;
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  @apply pb-12 mb-4;
}

.section__header {
  @apply font-semibold mb-4 text-base text-gray-600 uppercase;
}

.elevation {
  /* @apply bg-white shadow-lg rounded-lg; */
  @apply bg-white shadow rounded-lg;
}
