/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.loading-spinner {
  animation: infinite-spinning 2s infinite;
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section__header {
  @apply font-semibold mb-4 text-xl text-gray-600 uppercase;
}

.elevation {
  /* @apply bg-white shadow-lg rounded-lg; */
  @apply bg-white shadow rounded-lg;
}

@media print {
  .print__measure-icon,
  .print__symptom-icon {
    display: none;
  }

  .print__font-black {
    color: #1a202c !important;
  }
}
